{% extends 'album/base.html' %}

{% block title %}Password Reset Sent{% endblock %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'album/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="message-card">
    <h1>Check Your Inbox</h1>
    <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    <p><a href="{% url 'album:homepage' %}">Return to Homepage</a></p>
</div>
{% endblock %}
