{% extends 'album/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'album/css/photo_edit.css' %}">
{% endblock %}

{% block content %}
<div class="form-card">
  <h1>Edit Photo Metadata</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
          <small class="form-help-text">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div class="form-error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="form-actions">
      <button type="submit" class="btn btn-submit">Save</button>
      <a href="{% url 'album:photo_detail' photo.pk %}" class="btn btn-cancel">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}